<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2019  Consiglio Nazionale delle Ricerche
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as
  ~     published by the Free Software Foundation, either version 3 of the
  ~     License, or (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>SIGLAWeb</display-name>
	<context-param>
		<param-name>jdbc/CIR</param-name>
		<param-value>jdbc/CIR</param-value>
	</context-param>
	<listener>
		<listener-class>it.cnr.contab.util.servlet.ExpireSessionServlet</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:it/cnr/contab/service/sigla-service-context.xml</param-value>
	</context-param>
	<context-param>
		<param-name>contextInitializerClasses</param-name>
		<param-value>it.cnr.contab.service.SpringInitializerEnvProperty</param-value>
	</context-param>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<servlet>
		<servlet-name>ActionServlet</servlet-name>
		<servlet-class>it.cnr.jada.action.ActionServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>RestServlet</servlet-name>
		<servlet-class>it.cnr.contab.util.servlet.RESTServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>MessageCheckServlet</servlet-name>
		<servlet-class>it.cnr.contab.messaggio01.servlet.MessageCheckServlet</servlet-class>
		<load-on-startup>6</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>OfflineReportServlet</servlet-name>
		<servlet-class>it.cnr.contab.reports.servlet.OfflineReportServlet</servlet-class>
		<load-on-startup>-1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>PingServlet</servlet-name>
		<servlet-class>it.cnr.contab.util.servlet.PingServlet</servlet-class>
		<load-on-startup>7</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>UtilServlet</servlet-name>
		<servlet-class>it.cnr.contab.util.servlet.UtilServlet</servlet-class>
		<load-on-startup>8</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>OfflineExcelServlet</servlet-name>
		<servlet-class>it.cnr.jada.excel.servlet.OfflineExcelServlet</servlet-class>
		<load-on-startup>-1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ExpireSessionServlet</servlet-name>
		<servlet-class>it.cnr.contab.util.servlet.ExpireSessionServlet</servlet-class>
		<load-on-startup>9</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>GenericDownloadServlet</servlet-name>
		<servlet-class>it.cnr.contab.util.servlet.GenericDownloadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownloadBlobServlet</servlet-name>
		<servlet-class>it.cnr.contab.blobs.servlet.DownloadBlobServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RestServlet</servlet-name>
		<url-pattern>*.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OfflineReportServlet</servlet-name>
		<url-pattern>/offline_report/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MessageCheckServlet</servlet-name>
		<url-pattern>/messaggio01/checkmessage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MessageCheckServlet</servlet-name>
		<url-pattern>/utenze00/messaggio01/checkmessage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OfflineReportServlet</servlet-name>
		<url-pattern>/offline_report/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PingServlet</servlet-name>
		<url-pattern>/PingServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PingServlet</servlet-name>
		<url-pattern>/Ping</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PingServlet</servlet-name>
		<url-pattern>/ping</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UtilServlet</servlet-name>
		<url-pattern>/UtilServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UtilServlet</servlet-name>
		<url-pattern>/util</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OfflineExcelServlet</servlet-name>
		<url-pattern>/offline_excel/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OfflineExcelServlet</servlet-name>
		<url-pattern>/offline_excel/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExpireSessionServlet</servlet-name>
		<url-pattern>/expire</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GenericDownloadServlet</servlet-name>
		<url-pattern>/genericdownload/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GenericDownloadServlet</servlet-name>
		<url-pattern>/genericdownload/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownloadBlobServlet</servlet-name>
		<url-pattern>/download_blob/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownloadBlobServlet</servlet-name>
		<url-pattern>/download_blob/</url-pattern>
	</servlet-mapping>
	<mime-mapping>
		<extension>TXT</extension>
		<mime-type>www/unknown</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ecf</extension>
		<mime-type>text/text</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>T24</extension>
		<mime-type>text/text</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>rbs</extension>
		<mime-type>text/text</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>cee</extension>
		<mime-type>text/text</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ivl</extension>
		<mime-type>text/text</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ccf</extension>
		<mime-type>text/text</mime-type>
	</mime-mapping>
	
	<mime-mapping>
		<extension>I01</extension>
		<mime-type>text/text</mime-type>
	</mime-mapping>
	<welcome-file-list>
		<welcome-file>Login.do</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>HtmlAuth</web-resource-name>
			<description>public url</description>
			<url-pattern>/RicercaIncarichiRichiesta.do</url-pattern>
			<url-pattern>/cancellaSchedulazione.do</url-pattern>
			<url-pattern>/RicercaUOAction.do</url-pattern>
			<url-pattern>/RicercaCDRAction.do</url-pattern>
			<url-pattern>/RicercaVoceAction.do</url-pattern>
			<url-pattern>/RicercaContrattoAction.do</url-pattern>
			<url-pattern>/Macro.do</url-pattern>
			<url-pattern>/RicercaTerziAction.do</url-pattern>
			<url-pattern>/RicercaNaProComAction.do</url-pattern>
			<url-pattern>/RicercaGAEAction.do</url-pattern>
			<url-pattern>/RicercaGAEAction.do</url-pattern>
			<url-pattern>/ConsUnitaOrganizzativaAction.do</url-pattern>
			<url-pattern>/ConsCdRAction.do</url-pattern>
			<url-pattern>/ConsCdSAction.do</url-pattern>
			<url-pattern>/ConsDivisaAction.do</url-pattern>
			<url-pattern>/ConsNazioneAction.do</url-pattern>
			<url-pattern>/RicercaFatturaPassivaAction.do</url-pattern>
			<url-pattern>/cancellaSchedulazioneExcel.do</url-pattern>
			<http-method>POST</http-method>
			<http-method>GET</http-method>
		</web-resource-collection>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>HtmlAuth</web-resource-name>
			<description>application security constraints</description>
			<url-pattern>*.do</url-pattern>
			<http-method>POST</http-method>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>default-roles-cnr</role-name>
		</auth-constraint>
	</security-constraint>
	<welcome-file-list>
		<welcome-file>Login.do</welcome-file>
	</welcome-file-list>
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>SIGLA realm</realm-name>
		<form-login-config>
			<form-login-page>/util/index.jsp</form-login-page>
			<form-error-page>/utenze00/form_login.jsp?error-code=404</form-error-page>
		</form-login-config>
	</login-config>
</web-app>
