.md-logo img {
    width: auto!important;
}

.md-header-nav__source {
    width: unset;
    max-width: unset;
}
.rst-versions {
  border-color: indingo !important;
  border-style: solid !important;
  font-size: large;
}

.rst-versions .rst-current-version {
  background-color: #3f51b5 !important;
  color: white !important;
}

@page {
    size: a4 portrait;
    margin: 25mm 10mm 25mm 10mm;
    counter-increment: page;
    font-family: sans-serif,"Roboto","Helvetica Neue",Helvetica,Arial;
    white-space: pre;
    color: grey;
    @bottom-left {
        content: '© 2020 Consiglio Nazionale delle Ricerche';
    }
    @top-center {
        content: string(chapter);
    }
    @bottom-right {
        content: 'Pagina ' counter(page);
    }
}