BODY.Form {
	background : buttonface;
	margin : 0px;
	overflow-y: scroll;
}

BODY.Workspace,BODY.Maximized {
	background-color : #708ead;
	background-position : center;
	background-image : url(img/logoWeb.gif);
	background-repeat : no-repeat;
}

BODY.Maximized {
	margin : 0px;
	overflow-y : scroll;
}

BODY.Maximized {
	margin : 0px;
}

.ColoredFrame {
	background-color: #89aed4;

}

.TreeFrame {
/*	scrollbar-base-color: #89aed4;
	scrollbar-track-color: #e9e9e7;*/
	background-color: #ffffff;

}

.frameColBorder {
	border: #89aed4;
	
}

.Window,.WindowMaximized {
	border: thin outset;
	background: buttonface;
	font : 12px sans-serif;
}

.WindowMaximized {
	background : Buttonface;
	border : 0;
	width: 100%;
	height: 100%;
}

BUTTON.Button,BUTTON.ButtonUp,BUTTON.ButtonDown,BUTTON.ButtonOver,BUTTON.ButtonOut {
	font : 12px sans-serif;
	border : 1px solid buttonface;
	background-color : transparent;
}
BUTTON.ButtonDown {
	border : 1px inset buttonhighlight;
}
BUTTON.ButtonOut {
	border : 1px solid buttonface;
}
BUTTON.ButtonOver {
	border : 1px outset buttonhighlight;
}
BUTTON.ButtonUp {
	border : 1px outset buttonhighlight;
}

TD.ToolbarButton {
	font : xx-small sans-serif;
}

.MessageBar {
	width:100%;
	border:1px inset;
	vertical-align : middle;
}
.ToolBar {
	border : thin groove;
}
.TitleBar {
	border : 1px inset;
	background-color : #0078B0;
	font-family : sans-serif;
	font-weight : bold;
	font-size : 12px;
	color : White;
}

.FormTitle {
	font : bold 16px sans-serif;
	color: White;
	background : #003063;
}

TABLE.Form {
	background-color : buttonface;
	font-family : sans-serif;
	font-size : 12px;
}

TABLE.Panel {
	margin: 0;
	padding: 2;
	font-family : sans-serif;
	font-size : 12px;
	background: Buttonface;
}

DIV.ScrollPane {
	position:relative; 
	overflow:auto;
	border-style: inset;
	background-color : White;
	border-width : thin;
}

DIV.Scrolled {
/* 	position:relative;  */
	overflow:auto;
}

TABLE.ScrolledTable {
	background-color : White;
}

TD.ListNavigator {
	border-style: inset;
	border-width : 1px;
}

TD.VSeparator {
	border-style: groove;
	border-left-width : thin;
	border-right-width : 0px;
	border-top-width : 0px;
	border-bottom-width : 0px;
	padding-left : 4px;
	margin-left : 4px;
}

DIV.Pane {
	border-style: inset;
	border-width : thin;
}

.TableFootbar {
	border-style: outset;
	border-width : 1px;
}

.ROTEXT {
	border-width : 2;
	border-style : inset;
	width: 6em;
	overflow: hidden;
}
IMG {
	border : 0px;
}
TD.TabOn {
	border-bottom-width : 0;
	border-left-width : 2;
	border-right-width : 2;
	border-top-width : 2;
	border-style : outset;
	font-weight : bold;
	font-family : sans-serif;
	font-size : 12px;
}

TD.TabOff {
	border-bottom-width : 2;
	border-left-width : 0;
	border-right-width : 0;
	border-top-width : 0;
	border-style : inset;
}

.TabOff {
	border-bottom-width : 0;
	border-left-width : 2;
	border-right-width : 2;
	border-top-width : 2;
	border-style : outset;
	font-family : sans-serif;
	font-size : 12px;
}

TD.TabPage {
	border-bottom-width : 2;
	border-left-width : 2;
	border-right-width : 2;
	border-top-width : 0;
	border-style : outset;
	padding : 4px;
}

.Group {
	border-width : 2;
	border-style : groove;
	padding : 4px;
}

.GroupLabel {
	font-weight : bold;
	font-family : sans-serif;
	font-size : 12px;
	color : Blue;
	margin-left : 6px;
}

.GroupLabelBig {
	font-weight : bold;
	font-family : sans-serif;
	font-size : 14px;
	color : Blue;
	margin-left : 6px;
}

A.buttons:HOVER {
	background-color : Gray;
	color: White;
}

.buttons {
	font-family : sans-serif;
	font-size : 11px;
	text-decoration : none;
	color: Black;
	text-align : center;
}

A.Button:HOVER {
	background-color : Gray;
	color: White;
}

.Button {
	font-family : sans-serif;
	font-size : 11px;
	text-decoration : none;
	color: Black;
	text-align : center;
}

.DisabledButton {
	font-family : sans-serif;
	font-size : 11px;
	text-decoration : none;
	color: Gray;
	text-align : center;
}

.TabLabel {
	font-family : sans-serif;
	text-decoration : none;
	color: Black;
	font-size : 11px;
}

.FormLabel {
	font-weight : bold;
	font-family : sans-serif;
	font-size : 12px;
}

.FormInput {
	font-family : sans-serif;
	font-size : 12px;
}

.TableInput {
	font-family : sans-serif;
	font-size : 12px;
}

SPAN#rotext.FormInput {
	border-width : 2;
	border-style : inset;
	width: 6em;
	background-color : buttonface;
	color : Gray;
	vertical-align : top;
	line-height : 1.4em;
}

SPAN#rotext.TableInput {
	border-width : 2;
	border-style : inset;
	width: 6em;
	background-color : buttonface;
	color : Gray;
	vertical-align : top;
	line-height : 1.4em;
}

.MenuItemOver,.MenuItemDown,.MenuItemUp {
	background: ButtonFace;
	cursor: default;
}

.MenuItem {
	cursor: default;
}

.ActiveMenuItemOver,.ActiveMenuItemDown,.ActiveMenuItemUp {
	background: ButtonFace;
	cursor: default;
}

.ActiveMenuItem {
	background: Highlight;
	color: HighlightText;
	cursor: default;
}
A.TreeItem:HOVER {
	background-color : SteelBlue;
	color : White;
}

A.TreeItem {
	font-family : sans-serif;
	font-size : 12px;
	color : Blue;
}

.TreeItem {
	font-family : sans-serif;
	font-size : 12px;
	text-decoration : none;
	color : Black;
}

.MenuItemGroup {
	font-family : sans-serif;
	font-size : 12px;
	text-decoration : none;
	color : Black;
	font-weight : bold;
}

A.ListItem {
	font-family : sans-serif;
	font-size : 12px;
	text-decoration : underline;
	color : Blue;
}

A.ListItem:HOVER {
	background-color : SteelBlue;
	color : White;
}

.ListItem {
	font-family : sans-serif;
	font-size : 12px;
}

TD.TableHeader {
	font-family : sans-serif;
	font-size : 12px;
	text-decoration : none;
	color : Black;
	background-color : buttonface;
	border : 1px outset;
}

TD.TableColumn {
	font-family : sans-serif;
	font-size : 12px;
	border:1px outset;
}
TD.TableColumnRedBold {
	font-family : sans-serif;
	font-size : 12px;
	font-weight: bold;
	color: Red;
	border:1px outset;
}
TD.MessageBar {
	border-style: inset;
	border-width: 1px;
}
TR.TableRowOver,TR.TableRowDown,TR.TableRowUp,TR.TableRowParOver,TR.TableRowParDown,TR.TableRowParUp{
	background: buttonface;
	border-color: black;
	cursor:default;
}
TR.TableRow {
	cursor:default;
}
TR.TableRowPar {
	cursor:default;
	background: #f1f8fc;
}
TR.SelectedTableRowOver,TR.SelectedTableRowDown,TR.SelectedTableRowUp,TR.SelectedTableRowParOver,TR.SelectedTableRowParDown,TR.SelectedTableRowParUp{
	background : Highlight;
	color : White;
	border-width : 1;
	border-style : solid;
	border-color : Black;
}
TR.SelectedTableRow,TR.SelectedTableRowPar{
	background : Highlight;
	color: HighlightText;
	cursor:default;
	background-color: Highlight;
}
TR.SelectedRow,TR.SelectedRowPar{
	background : SkyBlue;
	color : White;
	border-width : 1;
	border-style : solid;
	border-color : Black;
}

SPAN {
	font-family : sans-serif;
	font-size : 12px;
}

SPAN.FormLabel {
	font-family : sans-serif;
	font-size : 12px;
	font-weight : bold;
}

TABLE.Inset {
	background-color : white;
	border-width : 2;
	border-style : inset;
}

Label {
	font-family : sans-serif;
	font-size : 12px;
	font-weight : bold;
}

input.inputFieldReadOnly {
	background: #F5F5DC;
	background-color:transparent;
	border-style : none; 
	cursor:default;
	font-size : 16px;
}
.d-inline-block, .input-group{
    display : inline-block!important;
}
.text-truncate{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}